.input{
    padding:130%;
}
.card{
    /* margin-left:200; 
    margin-top:31.25em; */
    padding: 0.9375em;
    box-shadow:0 6 1.25em 0 rgba(0, 0, 0, 0.19);
    background-color:darkblue;
}
.div-first{
    overflow: hidden;
}
.div-second{
    background-image: url('/background.jpg') ;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:100%;
    height:56.25em;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    transition: all 1s ease-in-out;
    overflow: hidden;

}
.div-third{
    text-align:center;
    background: none;
    -webkit-animation: zoomout 10s ease-in infinite;
    animation: zoomout 10s ease-in infinite;
    transition: all 1s ease-in-out;
    overflow: hidden;
}


#outer-container{
    justify-items: center;
    margin-left: auto;
    /* margin-right: auto; */
    width:93.75em;
    
}
.card-text{
    padding:3.75em;
}
 
#image{
   width: 100%;
   height:auto;
}
.outer{
    
    /* display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around; */
    margin-left: auto;
    width:93.75em;
}

.outer-class{
    background-color: blueviolet;
}
.card-second{
    height:25em;
    flex:1;
}

#service{
    font-size:6.25em;
    font-weight: 600;
    text-align: center;
    margin:0 auto;
    
}
#img-over1{
    color:red;
    font-size:6.25em;
    font-weight: 600;
    text-align: center;
    margin-top:4.5em; 
}
#img-over2{ 
    color:red;
    font-size:4.375em;
    font-weight: 600;
    text-align: center;
}
#moto{
    padding:6.25em;
    background-color: blue;
}
.display-3{
    color:red;
    font-size:6.25em;
    font-weight: 600;
    text-align: center;   
}
.jumbotron-first{
    height:46.875em;
    background-color:#f8f9fa !important;
}
#jumbo-content{
    font-size: 1.875em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    padding:1.25em;
}
.jumbotron-second{
    background-color:transparent !important;
    height:46.875em;
}
/* #f8f9fa */
.polygon{
    margin-bottom:0.625em;
    margin-left:43.75em;
    fill:purple;stroke:purple;stroke-width:5;fill-rule:nonzero;
}

#svg-first{
    margin-left: 31.25em;
}

#svg-first{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#h1{
    float:right;
}
#svg-third{
    margin-left: 43.75em;
    float:right;
}
.outer-div{

}

.para{
    font-size: 1.5em;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#demo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.outer-div-class{
    margin:auto;
    margin-top:6.25em;
    height: 12.5em;
    width: 40%;
    background-color:rgb(34, 4, 82);
    border-radius:1.25em;
    color:white;
    padding:0.625em;
    font-size:1.25em;
    font-weight: 100;
}


.inner-div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center; 
    padding:4.375em;   

}
.div-class{
    height:31.25em;
    background-color:red; 
   
}
.buttonn{
    color: blueviolet;
}
@-webkit-keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
  }
  @keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
  } /*End of Zoom in Keyframes */
  
  /* Zoom out Keyframes */
  @-webkit-keyframes zoomout {
    0% {transform: scale(1);}
    50% {transform: scale(0.67);}
    100% {transform: scale(1);}
  }
  @keyframes zoomout {
      0% {transform: scale(1);}
    50% {transform: scale(0.67);}
    100% {transform: scale(1);}
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  /* forms */
  #exampleEmail{
      padding:1.25em;
  }
  .form-register{
    background: linear-gradient(to right, #ff99ff 0%, #ffcc99 100%);
  }